alembic==0.9.3
asn1crypto==0.23.0
backports.ssl==0.0.9
beautifulsoup4==4.6.0
blinker==1.4
bs4==0.0.1
bypy==1.6.4
chardet==3.0.4
click==6.7
cryptography==2.0.3
dill==0.2.8.2
Django==2.0.1
django-bootstrap3==9.1.0
dominate==2.3.1
httplib2==0.9.1
idna==2.6
IMAPClient==1.0.2
imbox==0.9.5
itsdangerous==0.24
Jinja2==2.9.6
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.0
mock==1.3.0
multiprocess==0.70.6.1
oauthlib==1.0.3
pbr==3.1.1
pexpect==4.0.1
Pillow==3.1.2
piston-mini-client==0.7.5
psutil==3.4.2
ptyprocess==0.5
pyasn1==0.1.9
pycparser==2.18
pycrypto==2.6.1
pycups==1.9.73
PyICU==1.9.2
PyJWT==1.3.0
pyOpenSSL==17.3.0
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
pyxdg==0.25
reportlab==3.3.0
requests==2.18.4
requests-toolbelt==0.8.0
selenium==3.8.1
setproctitle==1.1.8
six==1.10.0
SQLAlchemy==1.1.11
style==1.1.0
update==0.0.1
urllib3==1.22
visitor==0.1.3
Werkzeug==0.12.2
WTForms==2.1
