<!DOCTYPE html>
<html>
<head>{% block scripts-head %}{% endblock %}</head>
<body>

{% load static %}
<!-- DataTables CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<script src="{% static 'js/bootstrap.js' %}" ></script>


{% block bootstrap3_content %}

<nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">
        <div class="container">
            <h1>{% block title %}(no title){% endblock %}</h1>

            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>

        </div>
    </div>
</nav>


<div class="container">
<div class="row clearfix">
    <div class="col-md-2 column">
        <div class="panel-group" id="panel-216493">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-216493" href="#panel-element-148247">moives</a>
                </div>
                <div id="panel-element-148247" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <li><a href="/mv/show/">moive_show</a></li>
                        {% block Group1 %}(no content){% endblock %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-216493" href="#panel-element-606567">Collapsible Group Item #2</a>
                </div>
                <div id="panel-element-606567" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 column">

        {% block content %}(no content){% endblock %}
        {% endblock %}
    </div>
</div>
</div>


{% block scripts %}
{% endblock %}
</body>
</html>






