{% extends 'base.html' %}



{% block scripts %}

{% load static %}
<!-- DataTables CSS -->
<link rel="stylesheet" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}">
<!-- jquery -->
<script src="{% static "js/jquery/jquery-2.0.0.js" %}" ></script>

<script src="{% static "js/bootstrap.js" %}" ></script>

<script src="{% static "js/clipboard.js" %}" ></script>
<script src="{% static "js/clipboard.min.js" %}" ></script>


<!-- DataTables -->
<script src="{% static "DataTables/js/jquery.dataTables.min.js" %}" ></script>

<script>
    $(document).ready( function () {
    	function getCookie(c_name)
		{
		    if (document.cookie.length > 0)
		    {
		        c_start = document.cookie.indexOf(c_name + "=");
		        if (c_start != -1)
		        {
		            c_start = c_start + c_name.length + 1;
		            c_end = document.cookie.indexOf(";", c_start);
		            if (c_end == -1) c_end = document.cookie.length;
		            return unescape(document.cookie.substring(c_start,c_end));
		        }
		    }
		    return "";
		 }
        $('#table_id').DataTable();
		$.ajaxSetup({
        	headers: { "X-CSRFToken": getCookie("csrftoken") }
    	});
        
	    $('#change_id').click(function(){
			var ids = [];  
			var i = 0
			$('[name=items]:checkbox:checked').each(function(){
				ids[i] = $(this).val();  
				i = i+1;
			})
			//alert(ids);
			
			//alert($('#dmid').val());
			
			$.post( "/mv/change/", { 'ids[]': ids,  'dmid': $('#dmid').val() ,
            csrfmiddlewaretoken: '{{ csrf_token  }}' } );
            setTimeout(function(){
            	location.reload([true]) 
         	},500)
  		});

        var clipboard = new Clipboard('#link_id', {
            text: function() {

                var links = '';
                $('[name=items]:checkbox:checked').each(function(){
                    links += $(this).attr("href")+"\r\n";
                })

                //alert(links);
                return links;
            }
        });


        var clipboard = new Clipboard('#linkall_id', {
            text: function() {

                var links = '';
                $('[name=items]:checkbox').each(function(){
                    links += $(this).attr("href")+"\r\n";
                })

                //alert(links);
                return links;
            }
        });

        new Clipboard('.btn', {
            text: function(trigger) {
                return trigger.getAttribute('href');
            }
        });


		//获取下载链接

	    $("#CheckedAll").click(function(){
			//所有checkbox跟着全选的checkbox走。
			$('[name=items]:checkbox').attr("checked", this.checked );
	 	});
	 	
	 	$('[name=items]:checkbox').click(function(){
				//定义一个临时变量，避免重复使用同一个选择器选择页面中的元素，提升程序效率。
				var $tmp=$('[name=items]:checkbox');
				//用filter方法筛选出选中的复选框。并直接给CheckedAll赋值。
				$('#CheckedAll').attr('checked',$tmp.length==$('[name=items]:checkbox').filter(':checked').length);

			/*
				//一行做过多的事情需要写更多注释。复杂选择器还可能影响效率。因此不推荐如下写法。
				$('#CheckedAll').attr('checked',!$('[name=items]:checkbox').filter(':not(:checked)').length);
			*/
	 	});
        
    } );
    
</script>

{% endblock %}


{% block title %}
    统计
{% endblock %}


{% block Group1 %}

{% for w in ws %}
	<li><a href="/mv/show/{{w.statue__id}}/">{{w.statue__means}} {{w.total}}</a></li>
{% endfor %}

{% endblock %}

{% block content %}

<select class="form-control" id="dmid">
	{% for dm in dms %}
	<option value={{dm.id}}>{{dm.means}}</option>
	{% endfor %}
</select>

<button id="change_id" type="button" class="btn btn-default">修改</button>
<button id="link_id" type="button" class="btn btn-default">复制已选下载链接</button>
<button id="linkall_id" type="button" class="btn btn-default">复制全部下载链接</button>

<table id="table_id" class="display">
	<thead>
	<tr>
		<th><input type="checkbox" id="CheckedAll"> all </input></th>
		<th>复制</th>
		<th>name</th>
		<th>状态</th>
	</tr>
	</thead>
	<tbody>
	{% for moive in moives %}
	<tr>
		<td><input type="checkbox" name="items" value={{moive.id}} href="{{moive.moive.downloadLink}}"> </td>
		<td><button class="btn" href="{{moive.moive.downloadLink}}">复制此下载链接</button></td>
		<td>{{moive.moive.name_En}}</td>
		<td>{{moive.statue.means}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}

