{% extends 'base.html' %}



{% block scripts %}


{% load static %}
<!-- DataTables CSS -->
<link rel="stylesheet" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}">
<!-- jquery -->
<script src="{% static "js/jquery/jquery-2.0.0.js" %}" ></script>

<!-- DataTables -->
<script src="{% static "DataTables/js/jquery.dataTables.min.js" %}" ></script>
<link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">


<script>
    $(function() {
        $(".dropdown-toggle").dropdown('toggle');
    });
</script>

{% endblock %}


{% block title %}
统计
{% endblock %}

{% block content %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">菜鸟教程</a>
        </div>
        <div id="myexample">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">iOS</a>
                </li>
                <li>
                    <a href="#">SVN</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="action-1" href="#">jmeter</a>
                        </li>
                        <li>
                            <a href="#">EJB</a>
                        </li>
                        <li>
                            <a href="#">Jasper Report</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">分离的链接</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">另一个分离的链接</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>

{% endblock %}

